body {
    width: 90%;
    }
.container {
    width: 100%;
}
.aqua {
    color: dodgerblue; 
    text-align: center; 
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 200%;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.black {
    color: black;
}
.with {
    color: white;
}
.fon {
    background-image: url(../Images/Images_1.jpg);
    background-size: cover;
    box-sizing: border-box;
    padding-left: 40px;
    padding-top: 195px;
}
.prapor {
    background-image: url(../Images/Prapor.png);
    background-repeat: no-repeat;
    color: white;
    width: 70%;
    height: 400px;
    padding-left: 50px;
    padding-top: 30px;
    box-sizing: border-box;
}
.kharkiv {
    line-height: 180%;
    letter-spacing: 150%;
    text-shadow: 2px 2px 2px #000000;
}
.histori {
    font-weight: bold;
    font-size: 150%;
    margin: 40px 20px 40px;
}    
.line {
    border-bottom: 3px solid dodgerblue;
    width: 172px;
    margin: 7px 6px;
}
.misce1 {
    width: 30%;
    height: 300px;
    background-image: url(../Images/Сад-Шевченко-260_1.png);
    box-shadow: 2px 2px 2px 2px #000000;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
    border-radius: 27px;
    padding: 250px 0px;
    box-sizing: border-box;
    }
.misce2 {
    width: 30%;
    height: 300px;
    background-image: url(../Images/Сад-Шевченко-260_3.png);
    box-shadow: 2px 2px 2px 2px #000000;
    background-repeat: no-repeat;
    display: inline-block;
    border-radius: 27px;
    background-size: contain;
    margin: 0 4%;
    padding: 250px 0px;
    box-sizing: border-box;     
}
.misce3 {
    width: 30%;
    height: 300px;
    background-image: url(../Images/Сад-Шевченко-260_2.png);
    box-shadow: 2px 2px 2px 2px #000000;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
    border-radius: 27px; 
    padding: 250px 0px;
    box-sizing: border-box;    
}
.sad {
    font-size: 140%;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 30px auto;
}
.sad:hover {
color: cyan;
}

.sad1 {
    font-size: 135%;
    font-style: italic;
    text-align: center;
}
.card {
    color: white;
    font-size: 120%;
    font-weight: 700;
    padding: 10px;
    background-color: dodgerblue; 
    width: 150px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    display: block;
    margin: 50px auto;
}
.ukraina {
    text-align: center;
    font-weight: 600;
    font-size: 200%;
    text-transform: uppercase;
    margin: 80px auto 20px;
}
.line1 {
    border-bottom: 3px solid dodgerblue;
    width: 300px;
    margin: 0px auto;
}
.hard {
    text-align: center;
    margin: 20px auto;
}
footer {
    background-color: #003399;
    text-align: center;
}
.contact {
    color: white; 
    font-weight: bold;
    text-decoration: none;
    font-size: 100%;
    padding: 10px;
}
.oll {
    padding: 20px 20px;
}
.mereji {  
    display: inline-block;
    margin: 0px 10px;
}